*{
    margin:0px;
    padding:0px;
}
body{
    background-image: linear-gradient(180deg, rgb(255, 233, 233), rgba(255, 207, 85, 0.794));
}
nav{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
nav h1{
    margin-left: 10rem;
}
.options{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.social{
    margin-right: 7rem;
}
img{
    margin-right: 10px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87.9vh;
    padding: 1rem;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
}

.content p{
    font-size: 1.5rem;
    color: #262626;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.content h1{
    font-size: 8rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.content h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}
.content h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}

.content button{
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #ffaa00;
    color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
}

.content button:hover{
    background-color: #ffd342;
}
.hero{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.hero img{
    width: 40em;
    height: 40em;
    object-fit:contain;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}


